@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-2;
}
.Bg-primary{
    background: #3D365C;
}
.bg-secondary{
    background: #7C4585;
}
.bg-section{
    background: #C95792;
}
.bg-highlight{
    background: #F8B55F;
}
.mobile-nav{
    @apply fixed top-10 bg-gray-500 w-full h-1/3 left-0 ;
}

.mobile-nav li{
    @apply w-full text-center h-full border-b-2 ;

}
.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-highlight opacity-0 duration-700 hover:opacity-100;
}
.btn{
    @apply Bg-primary px-5 py-2 hover:border-2 rounded text-white font-bold;
}
html{
    scroll-behavior: smooth;
}